.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
}

.selectors {
    height: 350px;
    width: 350px;
    border: 1px solid black;
    margin-right: 50px;
}

.selectors h2 {
    text-align: center;
    margin: 0;
}

.selector-item {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    background-color: aqua;
    border-top: .5px  solid black;
    border-bottom: .5px  solid black;
}



.cuadricula {
    width: 350px;
    height: 350px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.cuadro {
    
}